name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Download deps
        run: go mod download

      - name: Verify deps
        run: go mod verify

      - name: Ensure go.mod/go.sum are tidy
        run: |
          go mod tidy
          git diff --exit-code

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -v -o arcade ./cmd/arcade

      - name: Test
        run: go test -v ./...

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: arcade-linux-amd64
          path: arcade
