name: Docker
on:
  workflow_call:

env:
  CONTAINER_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          name: build

      - name: Add executable permissions
        run: chmod +x arcade

      - name: Compute tags
        shell: bash
        run: |
          ref="${GITHUB_REF_NAME}"
          # if it's a tag like v1.2.3 => 1.2.3
          version="$(echo "$ref" | sed 's/^v//; s/+/-/g')"
          echo "RELEASE_VERSION=$version" >> "$GITHUB_ENV"

          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "TAGS=${CONTAINER_REGISTRY}/${IMAGE_NAME}:${version},${CONTAINER_REGISTRY}/${IMAGE_NAME}:latest" >> "$GITHUB_ENV"
          else
            echo "TAGS=${CONTAINER_REGISTRY}/${IMAGE_NAME}:${version}" >> "$GITHUB_ENV"
          fi

      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.TAGS }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ env.IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.RELEASE_VERSION }}
