name: Release

on:
  release:
    types: [prereleased, released]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  docker:
    needs: build
    uses: ./.github/workflows/docker-push.yml
